.payment_header {
  background: rgb(8, 161, 59);
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 20%;
}

.check {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
}

.check i {
  vertical-align: middle;
  line-height: 60px;
  font-size: 47px;
}

.content {
  text-align: center;
}

.content h1 {
  font-size: 25px;
  padding-top: 25px;
}

.content a {
  width: 200px;
  height: 35px;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  background: rgba(255, 102, 0, 1);
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
}

.content a:hover {
  text-decoration: none;
  background: #000;
}

/*order details*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#order-heading {
  background-color: #edf4f7;
  position: relative;
  border-top-left-radius: 25px;
  max-width: 800px;
  padding-top: 20px;
  margin: 30px auto 0px;
}

#order-heading .text-uppercase {
  font-size: 0.9rem;
  color: #777;
  font-weight: 600;
}

#order-heading .h4 {
  font-weight: 600;
}

#order-heading .h4 + div p {
  font-size: 0.8rem;
  color: #777;
}

.close {
  padding: 10px 15px;
  background-color: #777;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: -20px;
}

.wrapper {
  padding: 0px 50px 50px;
  max-width: 800px;
  margin: 0px auto 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.table th {
  border-top: none;
}

.table thead tr.text-uppercase th {
  font-size: 0.8rem;
  padding-left: 0px;
  padding-right: 0px;
}

.table tbody tr th,
.table tbody tr td {
  font-size: 0.9rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.table-responsive {
  height: 100px;
}

.list div b {
  font-size: 0.8rem;
}

.list .order-item {
  font-weight: 600;
  color: #6db3ec;
}

.list:hover {
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 5px;
}

label {
  margin-bottom: 0;
  padding: 0;
  font-weight: 900;
}

button.btn {
  font-size: 0.9rem;
  background-color: #66cdaa;
}

button.btn:hover {
  background-color: #5cb99a;
}

.price {
  color: #5cb99a;
  font-weight: 700;
}

p.text-justify {
  font-size: 0.9rem;
  margin: 0;
}

.row {
  margin: 0px;
}

.subscriptions {
  border: 1px solid #ddd;
  border-left: 5px solid #ffa500;
  padding: 10px;
}

.subscriptions div {
  font-size: 0.9rem;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 20px;
  }

  body {
    font-size: 0.85rem;
  }

  .subscriptions div {
    padding-left: 5px;
  }

  img + label {
    font-size: 0.75rem;
  }
}

/*dsklafklsfdsvgfsdgfsgdfsghdhdghjgfjjdfjdthjdtgfhj*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.box-1 {
  max-width: 450px;
  padding: 10px 40px;
  user-select: none;
}
.box-1 img.pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.box-1 .name {
  font-size: 15px;
  font-weight: 600;
}

.box-2 {
  max-width: 450px;
  padding: 10px 40px;
}

.updates {
  transform: translateX(-500px);
  animation: moving 1.7s;
  animation-fill-mode: forwards;
}

.spinner {
  /* Spinner size and color */
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #444;
  border-left-color: #444;
  margin-left: 45%;
  margin-top: 15%;
  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Optional — create your own variations! */
.spinner-large {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

.spinner-slow {
  animation: spinner 1s linear infinite;
}

.spinner-blue {
  border-top-color: #09d;
  border-left-color: #09d;
}
